/* base button */
.btn {
    display: inline-block;
    text-align: center;
    width: auto;
    padding: calc( $padding / 4 ) calc( $padding * 2 );
    border-width: $border-width;
    border-style: solid;
}

.btn:hover {
    cursor: pointer;
}



/* base disabled button */
.btn.btn-disabled {
    pointer-events: none;
    background-color: $disabled-background-color;
    border-color: $disabled-background-color;
    color: $disabled-font-color;
}

.btn.btn-disabled:hover,
.btn.btn-disabled:focus,
.btn.btn-disabled:focus-within {
    cursor: not-allowed;
}



/* primary button */
.btn-primary {
    background-color: $primary-accent-background-color;
    border-color: $primary-accent-background-color;
    color: $primary-font-color;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:focus-within {
    background-color: transparent;
    border-color: $primary-accent-background-color;
    color: $primary-accent-font-color;
}



/* secondary button */
.btn-secondary {
    background-color: transparent;
    border-color: $secondary-accent-background-color;
    color: $secondary-accent-font-color;
}

.btn-secondary:active,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:focus-within {
    background-color: $secondary-accent-background-color;
    border-color: $secondary-accent-background-color;
    color: $primary-font-color;
}



/* compact button */
.btn-compact {
    padding: calc( $padding / 4 ) calc( $padding / 2 );
}

