/* mixins */
@mixin placeholder-theme($color) {
    &::-webkit-input-placeholder {
        color: $color;
        opacity: .45;
    }
    &::-moz-placeholder {
        color: $color;
        opacity: .45;
    }
    &:-ms-input-placeholder {
        color: $color;
        opacity: .45;
    }
    &::-ms-input-placeholder {
        color: $color;
        opacity: .45;
    }
    &::placeholder {
        color: $color;
        opacity: .45;
    }
}

@mixin bordered {
    border-width: $border-width;
    border-radius: $border-radius;
    border-style: solid;
    color: currentColor;
}



/* bordered base */
.bordered {
    border-width: $border-width;
    border-radius: $border-radius;
    border-style: solid;
    color: currentColor;
}



/* theme primary */
.theme-primary {
    background-color: $background-color-primary;
    color: $font-color-primary;
    @include placeholder-theme($font-color-primary);
}

/* theme secondary */
.theme-secondary {
    background-color: $background-color-secondary;
    color: $font-color-secondary;
    @include placeholder-theme($font-color-secondary);
}



/* accent theme primary */
.accent-theme-primary {
    background-color: $accent-background-color-primary;
    color: $font-color-primary;
    @include placeholder-theme($font-color-primary);
}

/* accent theme secondary */
.accent-theme-secondary {
    background-color: $accent-background-color-secondary;
    color: $font-color-primary;
    @include placeholder-theme($font-color-primary);
}



/* theme success */
.theme-success {
    background-color: $background-color-success;
    color: $font-color-success;
    @include placeholder-theme($font-color-success);
}

/* theme warning */
.theme-warning {
    background-color: $background-color-warning;
    color: $font-color-warning;
    @include placeholder-theme($font-color-warning);
}

/* theme error */
.theme-error {
    background-color: $background-color-error;
    color: $font-color-error;
    @include placeholder-theme($font-color-error);
}



/* font primary */
.font-color-primary {
    color: $font-color-primary;
}

/* font secondary */
.font-color-secondary {
    color: $font-color-secondary;
}



/* accent font primary */
.accent-font-color-primary {
    color: $accent-font-color-primary;
}

/* accent font secondary */
.accent-font-color-secondary {
    color: $accent-font-color-secondary;
}



/* background color primary */
.background-color-primary {
    background-color: $background-color-primary;
}

/* background color secondary */
.background-color-secondary {
    background-color: $background-color-secondary;
}



/* accent background color primary */
.accent-background-color-primary {
    background-color: $accent-color-primary;
}

/* accent background color secondary */
.accent-background-color-secondary {
    background-color: $accent-color-secondary;
}



/* success background color */
.background-color-success {
    background-color: $background-color-success;
}

/* warning background color */
.background-color-warning {
    background-color: $background-color-warning;
}

/* error background color */
.background-color-error {
    background-color: $background-color-error;
}
