/* bordered base */
.bordered {
    border-width: $border-width;
    border-radius: $border-radius;
    border-style: solid;
}



/* primary theme */
.primary-theme {
    background-color: $primary-background-color;
    color: $primary-font-color;

    &.bordered {
        border-color: $secondary-color;
    }
}

/* secondary theme */
.secondary-theme {
    background-color: $secondary-background-color;
    color: $secondary-font-color;

    &.bordered {
        border-color: $primary-color;
    }
}



/* primary accent theme */
.primary-accent-theme {
    background-color: $primary-accent-background-color;
    color: $primary-font-color;

    &.bordered {
        border-color: $secondary-color;
    }
}

/* secondary accent theme */
.secondary-accent-theme {
    background-color: $secondary-accent-background-color;
    color: $primary-font-color;

    &.bordered {
        border-color: $secondary-color;
    }
}



/* success theme */
.success-theme {
    background-color: $success-background-color;
    color: $success-font-color;

    &.bordered {
        border-color: $success-color;
    }
}

/* warning theme */
.warning-theme {
    background-color: $warning-background-color;
    color: $warning-font-color;

    &.bordered {
        border-color: $warning-color;
    }
}

/* error theme */
.error-theme {
    background-color: $error-background-color;
    color: $error-font-color;

    &.bordered {
        border-color: $error-color;
    }
}



/* font primary */
.primary-font-color {
    color: $primary-font-color;
}

/* font secondary */
.secondary-font-color {
    color: $secondary-font-color;
}



/* font accent primary */
.primary-accent-font-color {
    color: $primary-accent-font-color;
}

/* font accent secondary */
.secondary-accent-font-color {
    color: $secondary-accent-font-color;
}



/* primary background color */
.primary-background-color {
    background-color: $primary-background-color;
}

/* secondary background color */
.secondary-background-color {
    background-color: $secondary-background-color;
}

/* tertiary background color */
.tertiary-background-color {
    background-color: $tertiary-background-color;
}

/* quaternary background color */
.quaternary-background-color {
    background-color: $quaternary-background-color;
}



/* accent background color */
.primary-accent-background-color {
    background-color: $primary-accent-color;
}

/* accent background color */
.secondary-accent-background-color {
    background-color: $secondary-accent-color;
}



/* success background color */
.success-background-color {
    background-color: $success-background-color;
}

/* warning background color */
.warning-background-color {
    background-color: $warning-background-color;
}

/* error background color */
.error-background-color {
    background-color: $error-background-color;
}

