$h5-size: $heading-base-font-size-mobile;
$h4-size: calc( $h5-size * $golden-ratio );
$h3-size: calc( $h4-size * $golden-ratio );
$h2-size: calc( $h3-size * $golden-ratio );
$h1-size: calc( $h2-size * $golden-ratio );

$h5-desktop-size: $heading-base-font-size-desktop;
$h4-desktop-size: calc( $h5-desktop-size * $golden-ratio );
$h3-desktop-size: calc( $h4-desktop-size * $golden-ratio );
$h2-desktop-size: calc( $h3-desktop-size * $golden-ratio );
$h1-desktop-size: calc( $h2-desktop-size * $golden-ratio );


/* mixins */
@mixin letter-spacing( $spacing ) {
    letter-spacing: #{$spacing}px;
}



/* base */
body {
    color: $font-color-primary;
    font-family: $font-stack-primary;
    font-size: $font-size-mobile;
}

@media only screen and (min-width: $breakpoint){
    body {
        font-size: $font-size-desktop;
    }
}



/* p, span */
p, span {
    line-height: $golden-ratio;
}



/* headings */
h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 1rem 0;
}

h1 {
    font-size: #{$h1-size}rem;
}

@media only screen and (min-width: $breakpoint) {
    h1 {
        font-size: #{$h1-desktop-size}rem;
    }
}

h2 {
    font-size: #{$h2-size}rem;
}

@media only screen and (min-width: $breakpoint) {
    h2 {
        font-size: #{$h2-desktop-size}rem;
    }
}

h3 {
    font-size: #{$h3-size}rem;
}

@media only screen and (min-width: $breakpoint) {
    h3 {
        font-size: #{$h4-desktop-size}rem;
    }
}

h4 {
    font-size: #{$h4-size}rem;
}

@media only screen and (min-width: $breakpoint) {
    h4 {
        font-size: #{$h5-desktop-size}rem;
    }
}

h5 {
    font-size: #{$h5-size}rem;
}

@media only screen and (min-width: $breakpoint) {
    h5 {
        font-size: #{$h5-desktop-size}rem;
    }
}


/* anchors */
a:hover {
    cursor: pointer;
}
