///* variables *///

//* base *//
$breakpoint: 1440px!default;
$padding: 20px!default;
$grid: 80vw!default; /* for min-width $breakpoint screens */
$border-width: 1px!default;
$border-radius: 0!default;
$scrollbar-width: 4px!default;
$golden-ratio: 1.618;

//* colours *//
/* base */
$primary-color: rgb(10,10,10)!default;
$secondary-color: rgb(240,240,240)!default;
$tertiary-color: rgb(80,80,80)!default;
$quaternary-color: rgb(160,160,160)!default;

/* accent */
$primary-accent-color: rgb(37, 127, 210)!default;
$secondary-accent-color: rgb(199, 50, 137)!default;

/* background */
$primary-background-color: $primary-color;
$secondary-background-color: $secondary-color;
$tertiary-background-color: $tertiary-color;
$quaternary-background-color: $quaternary-color;

$primary-accent-background-color: $primary-accent-color;
$secondary-accent-background-color: $secondary-accent-color;

//* utility *//
$success-color: rgb(19,190,108)!default;
$warning-color: rgb(224,107,27)!default;
$error-color: rgb(196,78,78)!default;
$disabled-color: rgb(125,125,125)!default;

$lighten: 40!default;

$success-background-color: lighten($success-color, $lighten);
$warning-background-color: lighten($warning-color, $lighten);
$error-background-color: lighten($error-color, $lighten);
$disabled-background-color: lighten($disabled-color, $lighten);

//* typography *//
$primary-font-stack: #{Helvetica-Neue, Arial, sans-serif}!default;
$secondary-font-stack: #{Helvetica, Arial, sans-serif}!default;

$primary-font-color: $secondary-color;
$secondary-font-color: $primary-color;

$primary-accent-font-color: $primary-accent-color!default;
$secondary-accent-font-color: $secondary-accent-color!default;

$success-font-color: $success-color;
$warning-font-color: $warning-color;
$error-font-color: $error-color;
$disabled-font-color: rgba($disabled-color, .5);

$font-size: 16px!default;
$heading-base-font-size: 1!default; /* in 'rem' */

