///* variables *///

//* base *//
/* layout */
$breakpoint: 1440px!default;
$padding: 20px!default;
$grid: 80vw!default; /* for min-width $breakpoint screens */
$golden-ratio: 1.618;

/* borders */
$border-width: 1px!default;
$border-radius: 0!default;

//* animations *//
$transition-duration: 100ms!default;
$transition-style: ease!default;

//* colors *//
/* base */
$color-primary: rgb(10,10,10)!default;
$color-secondary: rgb(240,240,240)!default;

/* accent */
$accent-color-primary: rgb(69,180,134)!default;
$accent-color-secondary: rgb(180,69,115)!default;

/* background */
$background-color-primary: $color-primary;
$background-color-secondary: $color-secondary;

$accent-background-color-primary: $accent-color-primary;
$accent-background-color-secondary: $accent-color-secondary;

//* utility *//
$color-success: rgb(19,190,108)!default;
$color-warning: rgb(224,107,27)!default;
$color-error: rgb(196,78,78)!default;
$color-disabled: rgb(125,125,125)!default;

$lighten: 32!default;

$background-color-success: lighten($color-success, $lighten);
$background-color-warning: lighten($color-warning, $lighten);
$background-color-error: lighten($color-error, $lighten);
$background-color-disabled: lighten($color-disabled, $lighten);

//* typography *//
$font-stack-primary: #{Helvetica-Neue, Arial, sans-serif}!default;
$font-stack-secondary: #{Helvetica, Arial, sans-serif}!default;

$font-color-primary: $color-secondary;
$font-color-secondary: $color-primary;

$accent-font-color-primary: $accent-color-primary!default;
$accent-font-color-secondary: $accent-color-secondary!default;

$font-color-success: $color-success;
$font-color-warning: $color-warning;
$font-color-error: $color-error;
$font-color-disabled: rgba($color-disabled, .5);

$font-size: 16px!default;
$heading-base-font-size: 1!default; /* in 'rem' */

//* scrollbar *//
$scrollbar-width: 4px!default;
$color-scrollbar-thumb: $color-secondary!default;
$color-scrollbar-thumb-hover: $accent-color-secondary!default;

