/* grid  */
.grid {
    height: 100%;
    margin: 0 auto;
}

@media only screen and ( min-width: $breakpoint ){
    .grid {
        width: $grid;
        max-width: $grid;
    }

    .grid.max-grid {
        max-width: $max-grid;
    }
}

.grid::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
}
