.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

@media screen and (min-width: $breakpoint){
    .reverse-on-desktop {
        display: flex;
        flex-direction: row-reverse;
    }
}
