/* base button */
.btn {
    display: inline-block;
    text-align: center;
    width: auto;
    padding: calc( $padding / ( $golden-ratio * 2 ) ) $padding;
    border-width: $border-width;
    border-radius: $border-radius;
    border-style: solid;
}

.btn:hover {
    cursor: pointer;
}



/* base disabled button */
.btn.btn-disabled {
    pointer-events: none;
    background-color: $disabled-background-color;
    border-color: $disabled-background-color;
    color: $disabled-font-color;
}

.btn.btn-disabled:hover,
.btn.btn-disabled:focus,
.btn.btn-disabled:focus-within {
    cursor: not-allowed;
}



/* primary button */
.btn-primary {
    background-color: $primary-accent-background-color;
    border-color: $primary-accent-background-color;
    color: $primary-font-color;
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:focus-within {
    background-color: transparent;
    border-color: $primary-accent-background-color;
    color: $primary-accent-font-color;
}



/* secondary button */
.btn-secondary {
    background-color: transparent;
    border-color: $secondary-accent-background-color;
    color: $secondary-accent-font-color;
}

.btn-secondary:active,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:focus-within {
    background-color: $secondary-accent-background-color;
    border-color: $secondary-accent-background-color;
    color: $primary-font-color;
}



/* compact button */
.btn-compact {
    padding: calc( $padding / ( $golden-ratio * 2 ) ) calc( $padding / $golden-ratio );
}



/* wide button */
.btn-wide {
    padding: calc( $padding / ( $golden-ratio * 2 ) ) calc( $padding * $golden-ratio );
}



/* utility button states */
.btn.success-theme:active,
.btn.success-theme:focus,
.btn.success-theme:focus-within,
.btn.success-theme:hover {
    cursor: pointer;
    background-color: $success-color;
    color: $primary-font-color;
}

.btn.warning-theme:active,
.btn.warning-theme:focus,
.btn.warning-theme:focus-within,
.btn.warning-theme:hover {
    cursor: pointer;
    background-color: $warning-color;
    color: $primary-font-color;

}

.btn.error-theme:active,
.btn.error-theme:focus,
.btn.error-theme:focus-within,
.btn.error-theme:hover {
    cursor: pointer;
    background-color: $error-color;
    color: $primary-font-color;
}

