/* form */
form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: $padding;

    &.theme-primary,
    &.theme-secondary,
    &.accent-theme-primary,
    &.accent-theme-secondary,
    &.theme-success,
    &.theme-warning,
    &.theme-error,
    &.bordered {
        padding: $padding;
    }
}



/* form group */
.form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: calc( $padding / 2 );
}


