/* form */
form {
    display: flex;
    flex-direction: column;
    gap: $padding;

    &.theme-primary,
    &.theme-secondary,
    &.accent-theme-primary,
    &.accent-theme-secondary,
    &.theme-success,
    &.theme-warning,
    &.theme-error {
        padding: $padding;
    }

    &.bordered {
        padding: $padding;

        &.theme-primary { border-color: $color-secondary; }
        &.theme-secondary { border-color: $color-primary; }
        &.accent-theme-primary { border-color: $color-secondary; }
        &.accent-theme-secondary { border-color: $color-secondary; }
        &.theme-success { border-color: $color-success; }
        &.theme-warning { border-color: $color-warning; }
        &.theme-error { border-color: $color-error; }
    }
}



/* form group */
.form-group {
    display: flex;
    flex-direction: column;
    gap: calc( $padding / 2 );
}
