/* base */
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: $font-size;
    border: none;
}



/* label */
label > input {
    margin-right: calc( $padding / 2 );
}



/* text */
input[type="text"] {
    width: 100%;
    padding: calc( $padding / 2 );
}



/* radio */
input[type="radio" i] {
    border-radius: 50%;
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
}

/* checkbox */
input[type="checkbox" i]{
    border-radius: $border-radius;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
}



/* checkbox & radio */
input[type="checkbox" i],
input[type="radio" i] {
    margin-left: 0;

    &.bordered {
        border-width: $border-width;
        border-style: solid;
        border-color: currentColor;
    }
}

input[type="radio"].radio-large,
input[type="checkbox"].checkbox-large {
    height: calc( 1rem + calc( $padding / ( $golden-ratio * 2 ) ));
    width: calc( 1rem + calc( $padding / ( $golden-ratio * 2 ) ));
}

input[type="radio"],
input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
}

label + input[type="checkbox" i],
label + input[type="radio" i] {
    margin-left: calc( $padding / ( $golden-ratio * 2 ) );
}

input[type="radio" i]:checked,
input[type="checkbox" i]:checked {
    background-color: currentColor;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover {
    cursor: pointer;
}








