/* lists */
.list-row,
.list-column {
    display: flex;
    gap: calc( $padding / 2 );
}

/* list row */
.list-row {
    flex-wrap: wrap;
}

/* list column */
.list-column {
    flex-direction: column;
}
