/* mixins */
@mixin list-row( $gap ) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: $gap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin list-column( $gap ) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: $gap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}



/* list row */
.list-row {
    @include list-row( calc( $padding / 2 ) );
}

.list-row.align-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.list-row.align-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}



/* list column */
.list-column {
    @include list-column( calc( $padding / 2 ) );
}

