/* width */
::-webkit-scrollbar {
    width: $scrollbar-width;
}

/* track */
::-webkit-scrollbar-track {
    background-color: $primary-background-color;
}

/* handle */
::-webkit-scrollbar-thumb {
    background-color: $primary-accent-background-color;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $secondary-accent-background-color;
}
