/* width */
::-webkit-scrollbar {
    width: $scrollbar-width;
}

/* track */
::-webkit-scrollbar-track {
    background-color: $background-color-primary;
}

/* handle */
::-webkit-scrollbar-thumb {
    background-color: $accent-background-color-primary;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $accent-background-color-secondary;
}
