/* select */
select {
    padding: calc( $padding / ( $golden-ratio * 2 ) ) calc( $padding / ( $golden-ratio * 2 ) );
    width: 100%;
    font-size: $font-size;
    border: none;

    &.primary-theme {
        &.bordered {
            border-color: $secondary-color;
        }
    }
    &.secondary-theme {
        &.bordered {
            border-color: $primary-color;
        }
    }
}

select:hover {
    cursor: pointer;
}

label + select {
    margin-left: calc( $padding / ( $golden-ratio * 2 ) );
}

label.block-label + select {
    margin-left: 0;
}

