/* select */
.select {
    padding: calc( $padding / ( $golden-ratio * 2 ) ) calc( $padding / ( $golden-ratio * 2 ) );
    width: auto;
    border-radius: $border-radius;
}

.select:hover {
    cursor: pointer;
}

label + .select {
    margin-left: calc( $padding / ( $golden-ratio * 2 ) );
}


