textarea {
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    padding: calc($padding / ($golden-ratio * 2));
    font-size: $font-size;
    border: none;

    &.primary-theme {
        &.bordered {
            border-color: $secondary-color;
        }
    }
    &.secondary-theme {
        &.bordered {
            border-color: $primary-color;
        }
    }
}
