textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: calc($padding / ($golden-ratio * 2));
    font-size: $font-size-mobile;
    border: none;

    &.theme-primary {
        &.bordered {
            border-color: $color-secondary;
        }
    }
    &.theme-secondary {
        &.bordered {
            border-color: $color-primary;
        }
    }
}

@media only screen and (min-width: $breakpoint){
    textarea {
        font-size: $font-size-desktop;
    }
}
