textarea {
    border-radius: $border-radius;
    border-width: $border-width;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    padding: calc( $padding / ( $golden-ratio * 2 ) );

    &.primary-theme { border-color: $secondary-color; }
    &.secondary-theme { border-color: $primary-color; }
}
