/* theme primary */
.theme-primary {
    background-color: $primary-background-color;
    color: $secondary-font-color;
}

/* theme secondary */
.theme-secondary {
    background-color: $secondary-background-color;
    color: $primary-font-color;
}
