/* variables */
/* base */
/* utility */
/* colours */
/* base */
/* accent */
/* utility */
/* fonts */
/* background */
/* typography */
/* theme */
/* primary theme */
.primary-theme {
  background-color: rgb(10, 10, 10);
  color: rgb(240, 240, 240);
}

/* secondary theme */
.secondary-theme {
  background-color: rgb(240, 240, 240);
  color: rgb(10, 10, 10);
}

/* primary accent theme */
.primary-accent-theme {
  background-color: rgb(37, 127, 210);
  color: rgb(240, 240, 240);
}

/* secondary accent theme */
.secondary-accent-theme {
  background-color: rgb(199, 50, 137);
  color: rgb(240, 240, 240);
}

/* font primary */
.primary-font-color {
  color: rgb(240, 240, 240);
}

/* font secondary */
.secondary-font-color {
  color: rgb(10, 10, 10);
}

/* font accent primary */
.primary-accent-font-color {
  color: rgb(37, 127, 210);
}

/* font accent secondary */
.secondary-accent-font-color {
  color: rgb(199, 50, 137);
}

/* base */
body {
  color: rgb(240, 240, 240);
  font-family: "Helvetica-Neue", sans-serif;
}

/* p, span */
p, span {
  font-size: 16px;
  line-height: 1.5rem;
}

/* headings */
h1, h2, h3, h4, h5 {
  font-weight: 800;
  margin: 0.75rem 0;
}

h1 {
  font-size: 10.2802891047rem;
}

h2 {
  font-size: 6.353701548rem;
}

h3 {
  font-size: 3.926886rem;
}

h4 {
  font-size: 2.427rem;
}

h5 {
  font-size: 1.5rem;
}

/* base */
/* body */
body {
  background-color: rgb(10, 10, 10);
}

/* body */
body {
  padding: 0;
  margin: 0;
}

/* lists */
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

/* mobile only */
@media only screen and (min-width: 1440px) {
  .mobile-only {
    display: none;
  }
}
/* desktop only */
.desktop-only {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .desktop-only {
    display: inline-block;
  }
}
/* layout */
/* column  */
@media only screen and (min-width: 1440px) {
  .column {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
  }
  .column::after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
  }
  .column.phi.a {
    width: 38%;
  }
  .column.phi.b {
    width: 62%;
  }
  .column.two,
  .column.four.b {
    width: 50%;
  }
  .column.three,
  .column.three.a {
    width: 33.33%;
  }
  .column.three.b {
    width: 66.66%;
  }
  .column.four,
  .column.four.a {
    width: 25%;
  }
  .column.four.c {
    width: 75%;
  }
}
/* content */
.content {
  padding: 20px;
}

@media only screen and (min-width: 1440px) {
  .content {
    padding: 40px;
  }
}
/* grid  */
.grid {
  height: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 1440px) {
  .grid {
    width: 80vw;
    max-width: 80vw;
  }
}
.grid::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

/* components */
/* section  */
.section {
  padding: 20px;
}

@media only screen and (min-width: 1440px) {
  .section {
    padding: 40px;
  }
}
/* base button */
.btn {
  display: inline-block;
  text-align: center;
  width: auto;
  padding: 5px 40px;
  border-width: 1px;
  border-style: solid;
}

.btn:hover {
  cursor: pointer;
}

/* base disabled button */
.btn.btn-disabled {
  pointer-events: none;
  background-color: rgba(125, 125, 125, 0.25);
  border-color: rgba(125, 125, 125, 0.25);
  color: rgba(125, 125, 125, 0.5);
}

.btn.btn-disabled:hover,
.btn.btn-disabled:focus,
.btn.btn-disabled:focus-within {
  cursor: not-allowed;
}

/* primary button */
.btn-primary {
  background-color: rgb(37, 127, 210);
  border-color: rgb(37, 127, 210);
  color: rgb(240, 240, 240);
}

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:focus-within {
  background-color: transparent;
  border-color: rgb(37, 127, 210);
  color: rgb(37, 127, 210);
}

/* secondary button */
.btn-secondary {
  background-color: transparent;
  border-color: rgb(199, 50, 137);
  color: rgb(199, 50, 137);
}

.btn-secondary:active,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:focus-within {
  background-color: rgb(199, 50, 137);
  border-color: rgb(199, 50, 137);
  color: rgb(240, 240, 240);
}

/* compact button */
.btn-compact {
  padding: 5px 10px;
}

/* list inline */
.list-row li {
  display: inline-block;
  padding-bottom: 10px;
}

.list-row li:not(:last-child) {
  padding-right: 5px;
}

/* list column */
.list-column li {
  padding-bottom: 10px;
}

/* text */
/* checkbox */
/* radio */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* track */
::-webkit-scrollbar-track {
  background-color: rgb(10, 10, 10);
}

/* handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(240, 240, 240);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(37, 127, 210);
}

/*# sourceMappingURL=index.css.map */
